{% extends 'core/base.html' %}
{% block title %}Login {% endblock title %}
{% block content %}
<div class="container" >
    <h1 style="text-align:center"> login</h1>
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="password" name="username">
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input type="password" class="form-control" id="content" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock content %}